body {
  margin: 0;
  padding: 0;
  background-color: RGB(80,80,10);
  font-family: 'Roboto', sans-serif;
}

.category-box {
  float: left;
  margin: 20px;
  border-style: outset;
  border-radius: 5px;
  border-width: 2px;
  border-color: RGB(90,90,90);
  background-image: url(dust_scratches.png);
  width: 30%;

}

.category-background {
    background-color: RGBa(150,150, 60, .5);
}

.arrow {
  margin: 5px;
  border: solid;
  border-width: 1px;
}

.arrow:hover {
  cursor: pointer;
  background-color: RGBa(80,80, 60, .5)
}

.category-value{
  width: 30px;
  padding: 1px;
  border: solid;
  border-width: 1px;
  text-align: center;
  background-color: RGBa(240, 240, 240, .7);
  float: right;
  margin-right: 10px;
}

.PRBlock{
  width: 300px;
  height: 450px;
  border: solid;
  float: right;
  margin-top: 25px;
  margin-right: 50px;
}

.PRBlock img{
  max-width: 100%;
  margin: auto;
}

.PRBlock h1{
  color: RGBa(255, 255, 255, .9);
  text-align: center;
}

.remain{
  margin: auto;
  border: solid;
  border-radius: 2px;
  border-width: 1px;
  background-color: RGBa(255, 255, 255, .7);
  font-size: 2em;
  text-align: center;
  height: 40px;
  width: 40px;
}

.headline{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 3em;
  color: RGBa(255, 255, 255, .7);
  background-color: RGBa(255, 255, 255, .1)
}
